@import url(reset.css);

.header {
  margin: 5rem 0 17.8rem 4.2rem;
}

.header a {
  color: #17233d;
  font-size: 1.4rem;
  letter-spacing: 0.0875rem;
  margin-right: 3.6rem;
}

.header .btn-header {
  width: 12.4rem;
  height: 5.1rem;
  border-radius: 0.6rem;
  border: 0.1rem #4cb538;
  background-color: #6fbf44;
  cursor: pointer;

  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

main .img-logo {
  margin: 0 9.5rem 0 12rem;
}

section {
  display: inline-block;
}

main section h1 {
  color: #161a49;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 8.2rem;
  letter-spacing: 0.0596rem;
  max-width: 58.2rem;
}

main section p {
  color: #4b505a;
  font-size: 1.8rem;
  line-height: 3.3rem;
  letter-spacing: 0.05rem;
  max-width: 49.3rem;
  margin: 4.7rem 0 5.5rem 0;
}

main section a {
  color: #6fbf44;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: .1rem;
}
